/* COLORS */

$primary-lighter: #c6afde;
$primary-light: #a370d8;
$primary: #8549bf;

// DARK MODE
$dark-background-1: #2a2d38;
$dark-background-2: #2f353f;
$dark-background-3: #333741;
$dark-background-4: #3f454f;
$dark-primary-text: #ffffff;
$dark-secondary-text: #a8a8a8;

// LIGHT MODE
$light-background-1: #fafaff;
$light-background-2: #ffffff;
$light-background-3: #f4f4f9;
$light-background-4: #f8f8f8;
$light-primary-text: #3a3b42;
$light-secondary-text: #555555;

/* FONTS */

$font-family: "Inter", sans-serif;

// DESKTOP
$font-size-primary-desktop: 2.5rem;
$font-size-secondary-desktop: 1.25rem;
$font-size-small-desktop: 1rem;

//MOBILE
$font-size-primary-mobile: 2rem;
$font-size-secondary-mobile: 1rem;

/* BREACKPOINTS */
$medium-breackpoint: 900px;
